/* Style sombre global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 40px;
}

.page-container {
    max-width: 1000px;
    margin: 0 auto;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Titres */
h2, h3 {
    color: #ffffff;
    margin-bottom: 10px;
    border-left: 4px solid #a6adb3;
    padding-left: 10px;
}

/* Champ input */
input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    color: #f1f1f1;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background: #2b2b2b;
    border: 2px solid #444;
    table-layout: fixed;
}

th {
    background-color: #c4c6c7;
    color: #000000;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

td {
    padding: 10px;
    border: 1px solid #444;
    color: #e0e0e0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

td {
    word-break: break-all;
}

/* Conteneur flex pour la matrice */
.containerCtrlMatrice {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
}

/* Responsive */
@media (max-width: 768px) {
    .containerCtrlMatrice {
        flex-direction: column;
    }

    input[type="text"] {
        font-size: 0.9rem;
    }
}

/* Liens et autres éléments interactifs (optionnel) */
a, button {
    color: #4dabf7;
    text-decoration: none;
}

a:hover, button:hover {
    text-decoration: underline;
}

button[type="submit"], #play, #stop {
    background-color: #333; /* fond sombre */
    color: #f1f1f1; /* texte clair */
    padding: 10px 20px;
    border: 1px solid #555; /* bord discret */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Effet au survol */
button[type="submit"]:hover, #play:hover , #stop:hover{
    background-color: #4dabf7; /* bleu cohérent avec le style des liens */
    color: #000;
    text-decoration: none; /* override du underline global */
    transform: scale(1.03);
}

/* Effet lorsqu'on clique */
button[type="submit"]:active, #play:active, #stop:active {
    transform: scale(0.98);
    background-color: #339af0;
}