{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="page-container">

    <h2>Message</h2>
    <label for="message">Entrez un message :</label>
    <input type="text" id="message" placeholder="Tapez ici..." />

    <table>
        <tbody>
            <tr>
                <td>Partie 1</td>
                <td>Partie 2</td>
                <td>Partie 3</td>
                <td>Partie 4</td>
                <td>Partie 5</td>
            </tr>
        </tbody>
    </table>


    <h3>Clé</h3>
    <table>
        <tbody>
            <tr>
                <td>{{ key_str }}</td>
            </tr>
        </tbody>
    </table>


    
    <div class="containerCtrlMatrice">
        <table>
            <tbody>
                <tr>
                    <td>{{ c1 }}</td>
                    <td>{{ c2 }}</td>
                    <td>{{ c3 }}</td>
                    <td>{{ c4 }}</td>
                </tr>
                <tr>
                    <td>{{ k1 }}</td>
                    <td>{{ k2 }}</td>
                    <td>{{ k3 }}</td>
                    <td>{{ k4 }}</td>
                </tr>
                <tr>
                    <td>{{ k5 }}</td>
                    <td>{{ k6 }}</td>
                    <td>{{ k7 }}</td>
                    <td>{{ k8 }}</td>
                </tr>
                <tr>
                    <td>{{ ct }}</td>
                    <td>{{ n1 }}</td>
                    <td>{{ n2 }}</td>
                    <td>{{ n3 }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td>Donnée de contrôle</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Résultat</h3>
    <table>
        <tbody>
            <tr>
                <td>{{ res }}</td>
            </tr>
        </tbody>
    </table>
</div>
